<div *appCustomSlider="let image from ['a', 'b', 'c'] autoplay 'on'; let ctrl = controller" >
   <img [src]="image"> {{image}}<br>
  <button (click)="ctrl.prev()">Previous</button>
  <button (click)="ctrl.next()">Next</button>
</div>