<div class="weather-chart__holder">
  <h3 class="chart-title">Weather forecast for {{cityName}} by 5 days</h3>

  <div class="chart-container mt-4" *ngIf="!loading; else Loading">
    <ngx-charts-line-chart
      [results]="weatherData"
      [xAxis]="true"
      [yAxis]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [yAxisLabel]="yAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [autoScale]="autoScale"
      >
    </ngx-charts-line-chart>
  </div>

  <ng-template #Loading>
    <div class="no-data mt-4">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>

  <button (click)="clickbtn()" >click</button>
</div>