.weather-chart__holder {
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  padding: 15px;
  .chart-title {
    font-size: 22px;
    text-align: center;
    font-weight: 700;
    color: #333;
  }
  .chart-container {
    height: 300px;
  }
}

.no-data {
  display: flex;
  padding: 20px 10px;
  justify-content: center;
  background: #ececec;
  border-radius: 5px;
}