<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-auto">
      <app-cdk-test></app-cdk-test>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-auto">
      <app-city-search></app-city-search>
    </div>
  </div>
  
  <div class="row mt-4">
    <div class="col-md-12">
      <app-weather-chart></app-weather-chart>
    </div>
  </div>
  
  <div class="row mt-4">
    <div class="col-md-12">
      <app-stucture-directive-slider-test></app-stucture-directive-slider-test>
    </div>
  </div>
</div>